@page "/counter2"
@inject IPiletService PiletService

<PageTitle>Counter 2</PageTitle>

<h1>Counter 2</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        PiletService.AddEventListener<int>("counter-notify", count => currentCount += count);
    }

    private async void IncrementCount()
    {
        currentCount++;
        await PiletService.ShowNotification($"Hello, this is the blazor pilet 2 currentCount: {currentCount}", 2000);
        PiletService.DispatchEvent("counter-notify", currentCount);
    }
}
